@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --textcolor: darkgrey;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #03203c;
  height: 100vh;
}
* {
  margin: 0;
}
#middle {
  color: var(--textcolor);
  display: flex;
  flex-direction: column;
  color: none;
}
div.sidebar {
  height: 100vh;
  width: 200px;
  background-color: #1f1f1f;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 40px 10px;
  text-align: center;
}
div.sidebar > a {
  color: var(--textcolor);
}
div.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  /* margin-top: 20px; */
}
div.header > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: scale-down;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
a {
  padding: 10px;
}

i {
  color: white;
  font-size: 20px;
  padding: 5px;
}
footer {
  color: var(--textcolor);
  margin-top: 20px;

  font-weight: 500;
}
.icons {
  margin-top: 20px;
}
.contact-page,
#abhi {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  width: 50vw;

  position: absolute;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 50px;
  position: absolute;
}

input {
  padding: 15px;
  margin: 5px;
  font-size: 15px;

  border: none;
  font-weight: 500;
  border-radius: 10px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 0px;
}

p.blog {
  color: white;

  font-weight: 900;
  text-align: center;
  font-size: 50px;
  padding-top: 250px;
}

textarea {
  padding: 15px;
  margin: 5px;

  border: none;
  font-weight: 500;
  border-radius: 10px;
}
#body {
  left: 50%;
  position: relative;

  align-items: center;

  color: black;
}

label {
  color: white;
  font-weight: 700;
}
input,
label,
textarea {
  margin-left: 0px;
  font-family: 'Poppins', sans-serif;
}
.mail > p {
  color: white;
}
#description > div,
#description > h1 {
  display: flex;

  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  color: white;
}
#description > div > h1 {
  padding: 20px;
}
#description > h1 {
  margin-top: 50px;
}

div.projects {
  position: absolute;
  top: 20px;
  left: 250px;
  color: whitesmoke;
}
div.projects > h1 {
  margin-bottom: 20px;
}
div.project {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 300px;
  width: 400px;
  border: 3px solid whitesmoke;

  overflow: hidden;
  font-size: 10px;
  text-align: center;
}
div.project > a > img {
  width: 400px;
  height: 250px;
  object-fit: scale-down;
}
div.project > a > h1 {
  color: var(--textcolor);
}
.project-footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  color: var(--textcolor);
}
.project-footer > h3 {
  margin-top: 50px;
}
.project-footer > a > i > span {
  padding: 10px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
